# Python
__pycache__/
*.py[cod]
*$py.class

# Data and Models
data/
experiments/
instances/
*.pt
*.npz
*.png

# OS
.DS_Store
generated_dataset.json
cache/
logs/
results/*.csv
!results/*_v2.csv
experiments/

# LaTeX Build Files
*.aux
*.log
*.out
*.toc
