# Python
ReMAR_venv/
.env
__pycache__/
*.pyc

# cache
cache/

# Data
data_arc/
eglese/
gdb/
instances/
parsed_gdb_json/
*.csv
*.jsonl

# Models
checkpoints/
*.pt
*.bin

# Mac
.DS_Store

data/osm_cache.graphml